<div class="container mt-5">
    <h3>Active Users
        <h6 *ngIf="counterService.inactiveToactiveActions">
            (Inactive to Active Count : {{counterService.inactiveToactiveActions}})
        </h6>
    </h3>
    <app-active-users></app-active-users>
    <hr>
    <h3>Inactive Users
        <h6 *ngIf="counterService.activeToInactiveActions">
            (Active to Inactive Count : {{counterService.activeToInactiveActions}})
        </h6>
    </h3>
    <app-inactive-users></app-inactive-users>
</div>